<div class="row h-100 userContainer border-right">
    <!-- User avatar -->
    <div class="col-12 mb-auto mt-3">
        <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/smartest-dog-breeds-lead-1587757081.jpg"
        alt="Chat logo" class="img-thumbnail-custom rounded-circle" height="45" width="45">
    </div>
    <div class="col-12 mt-auto mb-5">
        <!-- Feedback button -->
        <div class="mb-3">
            <small><i class="fas fa-comment-alt text-light d-flex justify-content-center mb-1"></i></small>
            <p class="d-flex justify-content-center text-light"><small>Feedback</small></p>
        </div>
        <!-- Settings button -->
        <div>
            <small><i class="fas fa-cogs text-light d-flex justify-content-center mb-1"></i></small>
            <p class="d-flex justify-content-center text-light"><small>Settings</small></p>
        </div>
    </div>
</div>