<div class="container-fluid chatContainer" *ngFor="let chat of chat">
    <!-- Chat settings header area -->
    <div class="row mt-2">
        <div class="col col-2 d-flex align-items-center justify-content-end">
            <img src="{{chat.picture}}"
            alt="Chat logo" class="img-thumbnail" height="50" width="50">
        </div>
        <div class="col col-10 col-sm-7 d-flex align-items-center"><h3><strong>Chat Settings</strong></h3></div>
    </div>
    <hr>
    <!-- Chat settings area -->
    <div class="row">
        <div class="col col-12">
            <div class="row form-group">
                <label for="chatChangePictureUrl" class="col col-2 offset-3 col-form-label">Change picture:</label>
                <input #chatChangePictureUrl type="url" class="col col-4 form-control" placeholder="Insert picture URL" id="chatChangePictureUrl" value="{{chat.picture}}" required>
            </div>
        </div>
        <div class="col col-12">
            <div class="row form-group">
                <label for="chatChangeName" class="col col-2 offset-3 col-form-label">Change name:</label>
                <input #chatChangeName type="text" class="col col-4 form-control" placeholder="Insert chat name" id="chatChangeName" value="{{chat.name}}" required>
            </div>
        </div>
        <div class="col col-12">
            <div class="row">
                <small class="col col-8 offset-3">
                    <a href="#" class="text-muted font-weight-light offset-3" type="button" data-toggle="modal" data-target="#confirmDeleteModal">Click here to delete this chat</a>
                </small>
            </div>
        </div>
        <div class="col col-12">
            <!-- Post change area -->
            <div class="row">
                <div class="col col-3 offset-3">
                    <button type="button" class="btn btn-dark"
                    (click)="saveChatSettings(chatChangePictureUrl.value, chatChangeName.value);"
                    >Save settings</button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <!-- Modal -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="confirmDeleteModalLabel">Delete chat</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            Are you sure you want to delete chat: {{chat.name}}?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger" (click)="deleteChat(chat)" data-dismiss="modal">Delete</button>
            </div>
        </div>
        </div>
    </div>
</div>
