<nav class="navbar navbar-expand-lg navbar-dark bg-dark-custom p-0">
    <a class="navbar-brand col-3 mr-0" href="#">MessageApp</a>
    <button class="navbar-toggler mr-1" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav px-3 ml-auto" *ngIf="auth.user$ | async as user; else publicNavbar">
            <small class="d-flex align-items-center">
                <li class="nav-item text-nowrap">
                    <a class="nav-link text-muted">Hello, {{user.displayName}}</a>
                </li>
            </small>
            <li class="nav-item text-nowrap d-block d-xl-none">
                <a class="nav-link" routerLink="/user-settings/{{user.uid}}">User settings</a>
            </li>
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#" (click)="signOut();">Sign Out</a>
            </li>
        </ul>

        <ng-template #publicNavbar>
        <ul class="navbar-nav px-3 ml-auto">
            <li class="nav-item text-nowrap">
                <a class="nav-link" routerLink="login">Sign In</a>
            </li>
        </ul>
        </ng-template>
    </div>
</nav>