<div class="input-group">
    <input #chatSearchTerm class="form-control form-control-sm"
    placeholder="Search" id="chatSearch" (input)="chatSearch(chatSearchTerm.value)">
    <div class="input-group-append">
        <button class="input-group-text btn btn-sm bg-white"><i class="fas fa-search fa-xs"></i></button>
    </div>
</div>
<ul class="search-result">
    <li *ngFor="let chat of chats$ | async">
        <a routerLink="/chat/{{chat.cid}}" (click)="chatSearchTerm.value='';">
            {{chat.chatName}}
        </a>
    </li>
</ul>