<div class="col col-10 offset-1 col-md-7 offset-md-5 col-lg-5 offset-lg-6 border registerContainer mt-5">
    <div class="form-group text-center mt-3">
        <h3>MessageApp</h3>
        <h6 class="mt-3">Create your account!</h6>
        <hr>
    </div>
    <div class="col col-10 offset-1 mt-4 mb-4">
        <form
        *ngIf="!isSignUpSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit(useremail.value, password.value)"
        #f="ngForm"
        novalidate>
            <div class="form-group mt-4">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" name="email" required #useremail placeholder="E-mail">
            </div>
            <div class="form-group mt-2">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" required minlength="6" #password placeholder="Password">
            </div>
            <div class="form-group mt-2 mb-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck1">
                    <label class="form-check-label" for="gridCheck1">
                        Agree to our terms
                    </label>
                </div>
            </div>
            <div class="form-group col-8 offset-2 mt-4 mb-3">
                <button class="btn btn-dark btn-block" >Sign Up</button>
            </div>
        </form>
    </div>
</div>
<div class="col col-10 offset-1 col-md-7 offset-md-5 col-lg-5 offset-lg-6 text-center mt-2">
    <a routerLink="../login" class="text-dark">Already signed up? Log in here!</a>
</div>
<div class="col col-10 offset-1 col-md-7 offset-md-5 col-lg-5 offset-lg-6 text-center alert alert-info mt-2" role="alert">
    <p>Test users</p>
    <p>
        E-mail: john@smith.com; allan@poe.com
        <br>
        Password: Test123
    </p>
    <p>Or Sign Up with your own e-mail!</p>
</div>
<div class="col col-10 offset-1 col-md-7 offset-md-5 col-lg-5 offset-lg-6 text-center">
    <a href="https://github.com/martinontcode/MessageApp" target="_blank" class="text-muted">Check out this code at GitHub</a>
</div>