.chatListContainer {
    background-color: #F9F9FB;
}
.messageContainer {
    background-color: #F7F5FB;
}
.underline {
    text-decoration: none;
}
.overflow {
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: auto; /* Add vertical scrollbar */
}
.dropdown-menu {
    min-width: 3rem;
}