<div class="row vh-100">
    <div class="col col-12 border-right chatListContainer" >
        <!-- Search box area -->
        <div class="row mt-2">
            <div class="col col-sm-10 form-group mb-0 d-none d-sm-block">
                <app-chat-search></app-chat-search>
            </div>
            <div class="col col-12 col-sm-2 pl-sm-0 mb-0 text-center">
                <button type="button" class="btn btn-sm"
                data-toggle="modal" data-target="#newChatConfirmModal">
                <i class="fas fa-edit"></i><span class="d-block d-sm-none">New chat</span></button>
            </div>
        </div>
        <hr class="mt-0">
        <!-- Chat list area -->
        <div class="overflow h-75">
            <div class="row mb-2 pl-1 pr-2" *ngFor="let chat of chats" (click)="onSelect(chat)" [class.border]="chat === selectedChat">
                <div class="col col-2 d-flex align-items-center justify-content-end pr-0">
                    <img src="{{chat.chatPicture}}"
                    alt="Chat logo" class="img-fluid rounded-circle custom" height="25" width="25">
                </div>
                <div class="col-7 d-flex align-items-center">
                    <small>
                        <a routerLink="chat/{{chat.cid}}" class="underline text-muted font-weight-light">{{chat.chatName}}</a>
                    </small>
                </div>
                <div class="col col-3 d-flex align-items-center">
                    <div class="dropright">
                        <i class="fas fa-ellipsis-h fa-xs" role="button" id="settingsDropdownButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"></i>
                        <div class="dropdown-menu" aria-labelledby="settingsDropdownButton">
                            <a routerLink="chat-settings/{{chat.cid}}" class="dropdown-item">Settings</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="newChatConfirmModal" tabindex="-1" role="dialog" aria-labelledby="newChatConfirmModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newChatConfirmModalLabel">Create a new chat</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="chatName">Insert chat name</label>
                            <input #chatName type="text" class="form-control" placeholder="Chat name" id="chatName" required>
                        </div>
                        <div class="form-group">
                            <label for="chatPictureUrl">Insert picture URL</label>
                            <input #chatPictureUrl type="url" class="form-control" placeholder="HTTP://URL" id="chatPictureUrl" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-dark"
                        (click)="addChats(chatName.value, chatPictureUrl.value); chatName.value=''; chatPictureUrl.value=''"
                        >Create chat</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center" *ngIf="loading">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
</div>