<div class="container-fluid">
    <div class="row mt-2 d-flex">
        <div class="col col-8 col-sm-7 ml-1 mt-2 text-muted"><h4><strong>Welcome to MessageApp!</strong></h4></div>
    </div>
    <hr class="mt-0">
    <div class="col col-12 ml-1 mt-2 text-muted">
        <p>Hi there! My name is Martin.</p>
        <h5>Description</h5>
        <p>
            MessageApp is a web application that is used for p2p messaging, it features the following functions:<br>
            * Chat management feature<br>
            * Messages feature<br>
            * User management feature<br>
            * Firebase database<br>
            * User and chat relation
        </p>
        <h5>GitHub</h5>
        <p>
            You can check this code out: <a href="https://github.com/martinontcode/MessageApp" class="">GitHub Link</a>
        </p>
        <h5>Contact</h5>
        <p>
            In case of any questions, you can contact me on LinkedIn: <a href="https://www.linkedin.com/in/martinonton/" class="">LinkedIn Link</a>
        </p>
    </div>
    <hr>
</div>
