<div class="container chatContainer">
    <!-- Chat header area -->
    <div class="row mt-2">
        <div class="col col-2 d-flex align-items-center justify-content-end">
            <img src="https://png.pngtree.com/element_origin_min_pic/17/08/01/b62d08d09275d0d662a769e2e08e1e9c.jpg"
            alt="Chat logo" class="img-thumbnail" height="50" width="50">
        </div>
        <div class="col col-9 col-sm-7 d-flex align-items-center"><h3><strong>Custom Chat Header</strong></h3></div>
        <div class="col col-1 d-flex align-items-center"><strong>...</strong></div>
    </div>
    <hr>
    <!-- Chat content area -->
    <div class="row messageRow" *ngFor="let message of messages">
        <div class="col col-2 offset-sm-1 d-flex align-items-center justify-content-end">
            <img src="https://png.pngtree.com/png-vector/20190321/ourmid/pngtree-vector-users-icon-png-image_856952.jpg"
            alt="Chat logo" class="img-thumbnail rounded-circle" height="50" width="50">
        </div>
        <div class="col col-5 pl-0">
            <div class="d-inline-flex flexMessageContainer rounded border">
                <div class="flex-row">
                    <div class="text-muted font-weight-light">
                        <small>{{message.username}}</small>
                    </div>
                    <div>
                        {{message.content}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-2 text-right text-muted font-weight-light">
            <small>{{message.date}}</small>
        </div>
    </div>
    <hr>
    <!-- Post message area -->
    <div class="row">
        <div class="col col-8 offset-sm-2 form-group">
            <div class="input-group">
                <input #chatMessage class="form-control"
                (keyup.enter)="add(chatMessage.value); chatMessage.value=''"
                placeholder="Insert message" id="chatMessage"
                >
                <div class="input-group-append">
                    <button class="btn btn-secondary" (click)="add(chatMessage.value); chatMessage.value=''">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>