.messages {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
}
.messages li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 5.6em;
    border-radius: 4px;
}
.messages li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}
.chatContainer {
    background-color: #F7F5FB;
}
.contentArea {
    min-height: 300px;
    max-height: 500px;
}
.messageRow {
    margin-bottom: 10px;
}
.flexMessageContainer {
    background-color: #FFF;
    padding: 8px;
}
.overflow {
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: auto; /* Add vertical scrollbar */
}