<div class="container-fluid userSettingsContainer" *ngIf="user as user">
    <!-- User settings header area -->
    <div class="row mt-2">
        <div class="col col-2 d-flex align-items-center justify-content-end">
            <img src="{{user.displayPicture}}"
            alt="User avatar" class="img-thumbnail" height="50" width="50">
        </div>
        <div class="col col-10 col-sm-7 d-flex align-items-center"><h3><strong>User Settings</strong></h3></div>
    </div>
    <hr>
    <!-- User settings area -->
    <div class="row">
        <div class="col col-12">
            <div class="row form-group">
                <label for="userId" class="col col-2 offset-3 col-form-label">User ID:</label>
                <div id="userId" class="col col-4 form-control text-muted" disabled>{{user.uid}}</div>
            </div>
        </div>
        <div class="col col-12">
            <div class="row form-group">
                <label for="userChangeAvatarUrl" class="col col-2 offset-3 col-form-label">Change picture:</label>
                <input #userChangeAvatarUrl type="url" class="col col-4 form-control" placeholder="Insert picture URL" id="userChangeAvatarUrl" value="{{user.displayPicture}}" required>
            </div>
        </div>
        <div class="col col-12">
            <div class="row form-group">
                <label for="userChangeDisplayName" class="col col-2 offset-3 col-form-label">Change name:</label>
                <input #userChangeDisplayName type="text" class="col col-4 form-control" placeholder="Insert display name" id="userChangeDisplayName" value="{{user.displayName}}" required>
            </div>
        </div>
        <div class="col col-12">
            <div class="row form-group">
                <label for="userChangeEmail" class="col col-2 offset-3 col-form-label">Change e-mail:</label>
                <input #userChangeEmail type="email" class="col col-4 form-control" placeholder="Insert e-mail" id="userChangeEmail" value="{{user.email}}" required>
            </div>
        </div>
        <div class="col col-12">
            <!-- Post change area -->
            <div class="row">
                <div class="col col-3 offset-3">
                    <button type="button" class="btn btn-dark"
                    (click)="saveUserSettings(userChangeAvatarUrl.value, userChangeDisplayName.value, userChangeEmail.value);"
                    >Save settings</button>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>
